<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results Visualization</title>
</head>
<body>
    {% if data %}
        <h1>Results</h1>
        <ul>
            {% for row in data.results %}
                <li>Run {{ row.run_number }}: {{ row.result }} (Arguments: {{ row.arguments }})</li>
            {% endfor %}
        </ul>

        <h1>Execution Times</h1>
        <ul>
            {% for row in data.execution_times %}
                <li>Run {{ row.run_number }}: {{ row.execution_time }} seconds</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if img_base64 %}
        <img src="data:image/png;base64,{{ img_base64 }}" alt="Histogram">
    {% endif %}

    {% if execution_time_plot %}
        <h2>Execution Time Line Plot</h2>
        <img src="{{ execution_time_plot }}" alt="Execution Time Line Plot">
    {% endif %}
</body>
</html>
